@mixin importDataButton {
    .importDataButton{
        .green-button{
            display: flex;
            background-color: $btn-green;
            color: $base-White;
            padding: 10px 20px;
            font-size: 20pt;
            font-weight: 700;
            border-radius: 10px;
            width: max-content;
            transition: 0.3 ease all;

            &:hover{
                transform: scale(1.1);
            }
        }
    }
}